@model cle_summer_2020_courses.Models.Course
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <h1>Course Details</h1>
    <p>Title: <span>@Model.Name</span></p>
    <p>Instructor: <span>@Model.Instructor.Name</span></p>
    @if (Model.Location == null)
    {
        <p>Location: Unknown</p>
    }
    else
    {
        <p>Location: <span>@Model.Location.Building, Room @Model.Location.RoomNumber</span></p>
    }
    <p>Description: <span>@Model.Description</span></p>
    <p>Students: </p>
    <ol>
        @foreach(var student in Model.StudentCourses)
        {
            <li>@student.Student.Name</li>
        }
    </ol>

    <hr />
    <a href="/Course/Index">Return to Courses List</a>



</body>
</html>
